<section class=" sm:mt-40 mt-3 mb-14">
    <div class="container">
        <app-direction></app-direction>
        
        <div class="flex justify-between items-end  md:mb-12">
            <div class="">
                <h3 class="section-title ">سبد خرید</h3>
               
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="md:col-span-2 p-5">
                @if (items && items.length==0) {
                    <p class="dark:text-white text-2xl">محصولی در سبد خرید شما وجود ندارد</p>
                }
                @for (item of items; track $index) {
                    <div [routerLink]="['/product-one', item.productId.href]" class="w-full cursor-pointer flex items-center justify-between border border-zinc-400 rounded-xl p-3 mb-4">
                    <div class="flex items-center gap-6 ">
                        <div class="w-28">
                            <img class="bg-cover" [src]="'http://localhost:4000/img/'+item.productId.cover" alt="">
                        </div>
                        <div class="flex flex-col items-center gap-4 justify-around dark:text-white">
                            <p>{{item.productId.title}}</p>
                            <div class="flex gap-8 border border-zinc-400 p-1 rounded-lg">
                                <button [disabled]="item.quantity==item.productId.number" (click)="incrementProduct($event,item.productId._id)" class="flex items-center justify-center rounded-full p-1 bg-slate-400 hover:bg-teal-600 text-white transition-colors">
                                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>                                          
                                </button>
                                <p>{{item.quantity}}</p>
                                <button  (click)="decimalProduct($event,item.productId._id)"  class="flex items-center justify-center rounded-full p-1 bg-slate-400 hover:bg-teal-600 text-white transition-colors">
                                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                    </svg>  
                                </button>
                            </div>
                            <button (click)="removeProduct($event,item.productId._id)" class="hover:text-red-700 transition-colors">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                  </svg>                                      
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col justify-between items-center  ">
                        @if(item.productId.discount!==0){
                            <p class="bg-orange-300 w-10 p-1 rounded-lg mb-3">{{item.productId.discount}}%</p>
                            <p class="text-red-600 text-base">{{item.productId.price}} <span>تومان</span></p>
                            <p class="text-teal-600 text-xl mt-3">{{(item.productId.price-(item.productId.price * item.productId.discount / 100))}}تومان</p>
                        }@else {
                            <p class="text-teal-600 text-xl mt-3">{{item.productId.price}}تومان</p>

                        }
                    </div>
                </div> 
                }
               
               
            </div>
            <div class="p-5">
                <div class=" w-full ">
                    <div class="bg-slate-300 p-3 rounded-lg">
                        <div class="flex justify-between">
                            <p>قابل پرداخت</p>
                            <p>{{totalPrice}}</p>
                        </div>
                    </div>
                    <button (click)="payment()" class="w-full bg-teal-600 p-3 mt-3 rounded-3xl text-white">پرداخت</button>
                </div>
            </div>
        </div>
        
    </div>
    
</section>