<section class="h-full w-96 fixed bg-slate-700">
    <div class="flex flex-col items-center justify-center">
        
        <div class="tab-container">
            <ul class="flex flex-wrap mb-4 gap-4">
                <li class="flex-auto text-center w-25">
                    <a class="block rounded py-3 px-4 transition hover:text-white text-white bg-indigo-400">ورود</a>
                </li>
                <li class="flex-auto text-center w-25">
                    <a class="block rounded py-3 px-4 transition hover:text-white text-white bg-indigo-400">ثبت نام</a>
                </li>
            </ul>
        </div>
        <ng-content></ng-content>
    </div>
</section>
    