<div class="mt-6">
        
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-lg">
            <thead>
                
                <tr class="bg-gray-200 text-right text-gray-700 uppercase text-sm leading-normal">
                   
                    <th class="py-3 px-6 ">تعداد </th>
                    <th class="py-3 px-6 ">نام </th>
                    <th class="py-3 px-6 ">ایمیل</th>
                    <th class="py-3 px-6 ">تاریخ ثبت</th>
                    <th class="py-3 px-6 ">محصول</th>
                    <th class="py-3 px-6 ">کد محصول</th>
                    <th class="py-3 px-6 ">تعداد</th>
                    <th class="py-3 px-6 ">پرداخت</th>
                    <th class="py-3 px-6 ">ارسال شده</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                @for (item of order; track $index) {
                    
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6">{{$index+1}}</td>
                        <td class="py-3 px-6">{{item.userId.username}}</td>
                        <td class="py-3 px-6">{{item.userId.email}}</td>
                        <td class="py-3 px-6">{{item.createdAt|jalaliDateSimple}}</td>                   
                        <td class="py-3 px-6">{{item.items[0].productId.title}}</td>
                        <td class="py-3 px-6">{{item.items[0].productId.code}}</td>
                        <td class="py-3 px-6">{{item.items[0].quantity}}</td>
                        <td class="py-3 px-6">{{item.items[0].price}}</td>
                        <td class="py-3 px-6 flex items-center gap-2">{{item.isSend==0?'خیر':'بله'}}
                            <div class="flex gap-5">
                                <button [disabled]="item.isSend==1" [ngClass]="{'bg-blue-600 hover:bg-blue-500':item.isSend==0,'bg-zinc-500':item.isSend==1}" (click)="sendProduct(item._id)" class=" text-white p-3 rounded-lg shadow transition-colors">ارسال</button>
                            </div>
                        </td>
                        
                    </tr>
                } 
                
            </tbody>
        </table>
       
    </div>
        </div>