<div class="">
                   
    <div class="text-white p-5 flex items-center justify-between bg-gray-100 dark:bg-zinc-800 mt-6 rounded-xl">
        <h5 class="dark:text-white text-zinc-700">سافرشات ثبت شده</h5>
       
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3.5 md:gap-5 mt-5 ">
        @if (order && order.products) {
          @for (item of order.products; track $index) {
           <div class="flex flex-col bg-gray-100 dark:bg-zinc-800 rounded-lg p-3">
            <div class="mb-2 md:mb-5 relative ">
                <img class="w-32 mx-auto " [src]="'http://localhost:4000/img/'+item.productCover" alt="">
                <span
                    class="absolute top-1.5 right-1.5 bg-orange-300 px-2.5 md:px-3.5 hidden h-5 md:h-[30px]  text-xs md:text-base/[34px] rounded-full leading-5 dark:text-zinc-700 text-white">20%</span>
            </div>
            <div class="flex items-center justify-between">

                <h5 class="dark:text-white md:text-xl text-sm text-zinc-700 line-clamp-2 ">{{item.productName}}</h5>
                <div class="flex items-start gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5">
                    <div class="text-teal-600 dark:text-emerald-500 ">
                        <span class="text-base md:text-xl">{{item.price}}</span>
                        <span class="text-xs md:text-sm tracking-tighter ">تومان</span>
                    </div>
                </div>
            </div>
           
        </div> 
        }  
        }
        
        
        
        
    </div>



</div>